<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.tonnyl.charles">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

        <activity android:name=".ui.CharlesActivity" />

    </application>

</manifest>
